<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> <%= title %> </title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- <meta name="viewport" content="width=device-width, user-scalable=no"> -->
  <meta name="viewport" content="width=2732, user-scalable=no">
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="apple-touch-icon" href="touch-icon-iphone.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/icon-ipad.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/images/icon-ipad-retina.png">
</head>

<body>
  <div id="app-container">
    <div class="" id="content"></div>
    <div class="container" id="interfaceContainer">
      <h1 id="welcomeMsg">Welcome to the experiment </h1>
      <div id="user-context">
        <div class="formRow">
          <div class="formRowFlex">
            <label class="radioBtnContainer">English
              <input type="radio" checked="checked" name="radio" value="en">
              <span class="checkmark"></span>
            </label>
            <label class="radioBtnContainer">Deutsch
              <input type="radio" name="radio" value="de">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <h2 id="enterAgeSubjectMsg">Please enter the age and subject number.</h2>
        <!-- <a class="cta" href="#" id="submitLanguage">Next</a> -->
        <div class="inputAgeSubjectNum" id="inputAgeSubjectNum">

          <div class="formRow" id="age">
            <label for="age" id="ageLabel">Age:</label>
            <div class="ageInputRow">
              <div class="ageInputCol">
                <label for="year" id="yearLabel"> Year </label>
                <select id="ageYearOptions" name="ageYearOptions">
                  <option disabled selected>0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
              <div class="ageInputCol">
                <label for="month" id="monthLabel"> Months </label>
                <select id="ageMonthOptions" name="ageMonthOptions">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                </select>
              </div>
            </div>
          </div>
          <div class="formRow">
            <div class="formRowFlex">
              <label for="sessionID" id="enterSubjectNumMsg">Subject Number</label>
              <label for="generateNew"><a href="#" id="generateNewIDButton" class="disabled"> Generate New Instead?</a></label>
            </div>
            <!-- <input onClick="this.setSelectionRange(0, this.value.length);" type="text" name="name" id="name" value=""> -->
            <select id="subjectNumOptions" name="subjectNumOptions" disabled>
              <option disabled selected>Select the subject number below.</option>
            </select>
          </div>
          <a class="cta disabled" href="#" id="checkSubjectID">Check Subject Number</a>
        </div>

        <div class="inputGender" id="inputGender">
          <div class="formRow" id="genderOptionRow">
            <label id="subjectInfoLabel">This is a new subject. Please select the gender.</label>
            <label for="gender" id="genderLabel">Gender</label>
            <select id="genderOptions" name="genderOptions">
              <option value="female">F</option>
              <option value="male">M</option>
              <option value="nonbinary">X</option>
            </select>
          </div>
          <div class="formRowFlex formRowCenter">
            <a class="cta" href="#" id="rabbitTaskButton" name="one">Task 1</a>
            <div class="checkbox" id="rabbitTaskCheckbox"></div>
          </div>
          <div class="formRowFlex formRowCenter">
            <a class="cta" href="#" id="treeTaskButton" name="two">Task 2</a>
            <div class="checkbox" id="treeTaskCheckbox"></div>
          </div>
          <div class="formRowFlex formRowCenter">
            <a class="cta" href="#" id="rainTaskButton" name="three">Task 3</a>
            <div class="checkbox" id="rainTaskCheckbox"></div>
          </div>
          <label id="tryAgain">This subject has finished all tasks. Check the number and try again.</label>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
  <script>
    // console.log("<%= myVar %>");
  </script>
  <script type="module" src="/javascripts/sketch.js"></script>
</body>

</html>
