<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Task Three</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- <meta name="viewport" content="width=device-width, user-scalable=no"> -->
  <meta name="viewport" content="width=2732, user-scalable=no">
  <link rel="stylesheet" href="/css/applestyle.css">
</head>

<body>
    <script src="/javascripts/p5.js"></script>
    <script src="/javascripts/p5.sound.min.js"></script>
    <script type="module" src="/javascripts/taskthree.js"></script>
  </body>
</html>
