html, body {
  margin: 0;
  padding: 0;
  background: url(/images/apples/bg_big_sky.png);
  background-position: center;
  background-repeat: no-repeat;
}
canvas {
  display: block;
  background: url(/images/apples/bg_big_sky.png);
  background-position: center;
  background-repeat: no-repeat;
}

button {
  background-color: #4B7B8C;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: sans-serif;
  position: absolute;
  left: 50%;
  top:0;
  transform: translateX(-50%);
  border-radius: 20px 20px;
}

.top {
  top: 30%;
}

.middle {
  top: 40%;
}

.bottom {
  top: 50%;
}
